# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# binary folders
Debug/
Test_Debug/
Release/

# temporary test data
test.txt

# temporary files
*~

